#d1{margin-left: 40px;
margin-top: 80px;
color: brown; }

#p1{background-image: url(q.jpg);
background-repeat:no-repeat;
margin-left: 40px;
margin-top: 15px;
width: 200px;
height: 260px;}

#p1 ul{list-style-type: none;
text-indent: 4em;
line-height: 25px;}

#p1 a{color: black;
font-weight: bolder;}

#p1 a:hover{color: red;}

#r1{background-image: url(menubg.gif);
background-repeat: no-repeat;}

#z1{background-image: url(q.jpg);
background-repeat: no-repeat;
margin-left: 40px;
margin-top: 15px;
width: 200px;
height:230px; }

#z1 ul{list-style-type: none;
color: brown;
text-indent: 5em;
line-height: 30px;
position: relative;
left: -28px;
top: 20px;}

#z1 a{color: brown;}

#n1{position: relative;
left: 2px;
top: 10px;}

#b1{position: relative;
left:40px;
top: 10px;}

.zuo{float:left;}

.you{float:right;}

#zs{background-image: url(q.jpg);
background-repeat: repeat;
position: relative;
width: 850px;
height: 50px;
margin-right: 200px;
top: 110px;
color: brown;
font-size: 20px;
font-weight: bolder;
font-family: '幼圆';
text-indent: 2em;
line-height: 51px;}

#lb ul{position: relative;
color: brown;
left: 40px;
top: 120px;
line-height: 35px;}

#lb a{color: brown;}

#ys li{list-style-type: none;
float: left;
position: relative;
top: 120px;
left: 160px;
width: 50px;}

.k1{background-image: url(bg.png);
width: 25px;}

#foot{position: relative;
top: 100px;}