body{color: gray;
	background-image:url(bj.png);
	background-repeat: no-repeat;
	background-position:3% 2%;}
ul{list-style-type: none;}
li{text-indent: 3em;
	padding-top: 6px;
	padding-bottom: 20px;
	background-image:url(baibiaoti.png);
	background-repeat: repeat-y;}
#title{background-image:url(header.png); 
	background-repeat: no-repeat;
	background-position:4% 2%;
	height: 60px;}
#lv{color: white;
	background-image: url(lvbiaoti.png);
	background-repeat: no-repeat;.
	background-position: 1% 5%;}